/*
Theme Name: CMLP
Author: ATI UEL
*/

body {
    font-family: Ubuntu,sans-serif;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: Merriweather,serif;
}

p {
    color: #424242;
}

a, a:before, a:after  {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/*TOP MENU*/
#menu-top-menu {
    list-style: none;
    padding: 20px 0;
    margin: 0;
    float: right;
}

#menu-top-menu > li > a {
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 0.75em;
    display: block;
}

.custom-logo {
    width: 180px;
    height: auto;
}

.main-menu-row {
    background-color: #2e7d32;
}

@media (max-width: 991px) {
    .row.top-menu-row {
        text-align: center;
    }

    .row.top-menu-row img {
        max-width: 170px;
    }
}

/*MENU PRIMARIO*/
ul.menu-statistics,
ul.main-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.menu-statistics > li {
    padding: 0 0 0 40px;
}

ul.main-menu > li {
    padding: 0 20px;
    position: relative;
}

ul.menu-statistics > li > a,
ul.main-menu > li > a,
ul.main-menu > li > a:not([href]):not([tabindex]) {
    text-transform: uppercase;
    font-size: 0.75em;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    display: block;
    position: relative;
    padding: 40px 0;
}

.mobmenu-content #mobmenuleft li.current_page_item {
    background-color: #338a37;
}

.mobmenu-content #mobmenuleft li.current_page_item a {
    color: #ffffff;
}

@media (max-width: 1199px) {
    ul.main-menu > li {
        padding: 0 15px;
    }

    ul.menu-statistics > li > a,
    ul.main-menu > li > a,
    ul.main-menu > li > a:not([href]):not([tabindex]) {
        padding: 30px 0;
    }
}

@media (max-width: 991px) {
    #menu-top-menu {
        float: unset;
    }

    #menu-top-menu > li {
        margin: 0 auto;
    }

    #menu-top-menu > li > a {
        padding: 10px 5px;
    }

    .main-menu-row {
        text-align: center;
    }
}

ul.menu-statistics > li > a {
    background-color: #ff5722;
    padding-left: 35px;
    padding-right: 35px;
}

ul.menu-statistics > li > a:before {
    content: '';
    position: absolute;
    background-color: #2e7d32;
    width: 20px;
    left: 0;
    top: 50%;
    height: 1px;
}

ul.menu-statistics > li > a:after {
    content: '';
    background-color: #ff5722;
    left: -40px;
    width: 40px;
    position: absolute;
    top: 50%;
    height: 1px;
}

ul.main-menu > li.current-menu-parent > a:after,
ul.main-menu > li.current_page_item > a:after,
ul.main-menu > li > a:after {
    content: '';
    background-color: #ff5722;
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    height: 6px;
    opacity: 0;
}

ul.main-menu > li.current-menu-parent > a:after,
ul.main-menu > li.current_page_item > a:after,
ul.main-menu > li:hover > a:after {
    bottom: 10px;
    opacity: 1;
}

ul.menu-statistics .sub-menu,
ul.main-menu .sub-menu {
    list-style: none;
    padding: 0;
}

.custom-logo-link img {
    max-width: 100%;
}
ul.main-menu > li > .sub-menu {
    left: 0;
    position: absolute;
    top: 100%;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
    -webkit-transition: all .5s cubic-bezier(.68,-1,.265,2);
    -moz-transition: all .5s cubic-bezier(.68,-1,.265,2);
    -ms-transition: all .5s cubic-bezier(.68,-1,.265,2);
    -o-transition: all .5s cubic-bezier(.68,-1,.265,2);
    transition: all .5s cubic-bezier(.68,-1,.265,2);
    width: 210px;
    z-index: 99;
    background-color: #fff;
    margin: 10px 0 0;
    opacity: 0;
    visibility: hidden;
}

ul.main-menu > li.active > .sub-menu,
ul.main-menu > li:hover > .sub-menu {
    opacity: 1;
    top: 40px;
    visibility: visible;
    -webkit-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.5);
}

@media (max-width: 1199px) {
    ul.main-menu > li:hover > .sub-menu {
        top: 30px;
    }
}

ul.main-menu > li > .sub-menu a {
    padding: 10px 30px;
    display: block;
    text-decoration: none;
    border: 1px solid #f8f8f8;
    color: #777777;
}

#menu-top-menu > li.current-menu-item > a,
#menu-top-menu > li.current_page_item > a,
ul.main-menu > li > .sub-menu li.current-menu-item a,
ul.main-menu > li > .sub-menu a:hover {
    color: #ff5722;
}

.main-menu-row.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.main-menu-row.fixed.show {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;    
}

/*HOME SLIDER*/
.n2-ss-slide-backgrounds:before {
    content: '';
    position: absolute;
    left: -4%;
    top: -30%;
    width: 55%;
    height: 150%;
    background-color: rgba(0,0,0,.7);
    z-index: 99;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
}

div#n2-ss-1 .n2-bar-justify-content-center {
    position: absolute;
    left: -385px;
    bottom: 30px;
}

.n2-ss-slide h1.n2-ow {
    margin: 25px 0 !important;
    left: -300px;
    position: relative;
    opacity: 0;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
}

.n2-ss-slide.n2-ss-slide-active h1.n2-ow {
    left: 0;
    opacity: 1;
}

.n2-ss-slide div.n2-ow.n2-ss-item-content {
    bottom: -100px;
    position: relative;
    opacity: 0;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
}

.n2-ss-slide.n2-ss-slide-active div.n2-ow.n2-ss-item-content {
    bottom: 0;
    opacity: 1;
}

.n2-ss-slide h1.n2-ow::after {
    content: '';
    position: absolute;
    display: block;
    width: 121px;
    height: 2px;
    margin: 10px 0;
    background-color: #ff5722;
}

@media (max-width: 991px) {
    div#n2-ss-1 .n2-bar-justify-content-center {
        position: initial;
    }
}

@media (max-width: 991px) {
    .n2-ss-layer.n2-ow,
    .n2-ss-layer-col.n2-ss-layer-content {
        width: 100% !important;
        text-align: center;
    }

    .n2-ss-slider .n2-ss-layer-row-inner {
        display: unset !important;
    }

    .n2-ss-slide h1.n2-ow::after {
        width: 100%;
        margin-left: -15px;
    }

    .n2-ss-slide-backgrounds:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.7);
        z-index: 99;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
}

/*FRONT PAGE*/
.front-content h2 {
    font-size: 2rem;
    text-align: center;
    margin: 40px 0 20px;
    color: #6c8391;
}

.front-content p {
    font-size: 1.2rem;
}

.front-content .wp-block-custom-post-type-widget-blocks-latest-posts.wp-block-custom-post-type-widget-blocks-latest-posts__list.row {
    border-top: 1px solid #cccccc;
    padding: 20px 0;
    margin-top: 40px;
}

.wp-block-custom-post-type-widget-blocks-latest-posts.wp-block-custom-post-type-widget-blocks-latest-posts__list.row h4 > a{
    display: block;
    text-align: center;
    padding: 16px 10px;
    background: #2e7d32;
    color: #fff;
    font-size: 16px;
}

.wp-block-custom-post-type-widget-blocks-latest-posts__featured-image img {
    height: auto;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.wp-block-custom-post-type-widget-blocks-latest-posts__post-excerpt {
    padding: 15px;
    min-height: 130px;
    margin: 0;
}

a.news-button,
a.lab-button {
    display: block;
    padding: 18px 10px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: bold;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #424242;
    font-size: 15px;
}

a.news-button:hover,
a.lab-button:hover {
    background-color: #2e7d32;
    color: #ffffff;
}

.wp-block-custom-post-type-widget-blocks-latest-posts.wp-block-custom-post-type-widget-blocks-latest-posts__list li {
    margin-bottom: 30px;
}

.wp-block-custom-post-type-widget-blocks-latest-posts__featured-image {
    position: relative;
    overflow: hidden;
}

.popular-hover {
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    text-align: center;
    height: 100%;
    background-color: rgba(185,150,99,.7);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul li:hover .popular-hover {
    opacity: 1;
    top: 0;
}

.popular-hover small {
    position: relative;
    font-size: 14px;
    color: #b99663;
    background-color: #fff;
    display: inline-block;
    padding: 12px 24px 14px;
    text-transform: uppercase;
    top: 200%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul li:hover .popular-hover small {
    top: 50%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul li:hover .img-equipament-list .popular-hover small {
    top: 35%;
}

/*CONTENT*/
.content > h1 {
    color: #6c8391;
    font-size: 2rem;
}

.content h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.content p.subtitle {
    color: #6c6c6c;
}

.content div.gestor h3 a {
    color: #222845;
    text-decoration: none;
    font-size: 1.5rem;
}

.content div.gestor h3 a:hover {
    color: #757eaa;
}

.content ul.info-gestor {
    list-style: none;
    padding: 0;
}

.content ul.info-gestor a:hover {
    background-color: #f2f2f2;
}

ul.equipament-list,
ul.post-categories,
ul.lab-list {
    list-style: none;
    padding: 0;
}

ul.lab-list li { overflow: hidden;}

div.img-equipament-list,
div.img-lab-list {
    position: relative;
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
}

div.img-lab-list > div { position: relative; }

.img-equipament-list .popular-hover small {
    font-size:28px;
}

ul.lab-list li:hover .popular-hover small { top: 40%; }

div.img-lab-list h3 {
    text-align: center;
    margin: 0;
    font-size: 18px;
}

div.img-lab-list h3 a {
    color: #ffffff;
    display: block;
    padding: 10px;
    background-color: #2e7d32;
}

.lab-list a.lab-button {
    width: unset;
    padding: 18px 35px;
    float: right;
}

a.equipament-button {
    padding: 14px 10px;
    float: right;
    width: 350px;
}

@media (max-width: 991px) {
    .lab-list a.lab-button {
        width: 100%;
        padding: 15px 36px;
    }
    
    a.equipament-button { width: 100%; }    
    ul.post-categories a { font-size: 12px; }
}

div.after-strip {
    margin: 0 -15px;
    display: block;
    height: 40px;
    background-color: #2e7d32;
}

ul.post-categories a {
    border: 1px solid #cccccc;
    padding: 10px;
    color: #424242;
    text-decoration: none;
}

ul.post-categories a:hover {
    background-color: #2e7d32;
    color: #ffffff;
}

a.news-button {
    width: unset;
    padding: 15px 50px;
    float: left;
}

ul.equipament-list h3 a,
h3.news-title a {
    font-size: 24px;
    color: #3C4952;
}

ul.equipament-list h3 a:hover,
h3.news-title a:hover {
    color: #758E9E;
}

.nav-links > a, .nav-links > span {
    padding: 8px 10px;
    color: #424242;
    border: 1px solid #ccc;
    text-decoration: none;
}

.nav-links > a:hover {
    color: #ffffff;
    background-color: #2e7d32;
}

.nav-links > span.current {
    color: #ffffff;
    background-color: #ff5722;
}

.modal-img {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    height: 100vh;
}

.modal-img img.img-elm-modal {
    position: relative;
}

.modal-img:target {
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.modal-img:target img.img-elm-modal {
    top: 100px;
    z-index: 9999;
    max-width: 100%;
}

.modal-img-overlay {
    width: 100%;
    height: 100vh;
    display: block;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

#close-img-modal {
    position: absolute;
    right: 0;
    z-index: 99999;
    top: 0;
    font-size: 30px;
    padding: 3px 10px;
    color: #dddddd;
}

span.modal-img-content {
    position: relative;
}

@media (max-width: 781px) {
    .content .wp-block-column {
        flex-basis: calc(100%) !important
    }
}

@media (max-width: 767px) {
    div.gestor { text-align: center; }
}

/*LOGOS SLIDER*/
#sample_slider .sa_vert_center_wrap {
    text-align: center;
}

#sample_slider {
    padding: 30px 0;
    margin-bottom: 80px;
    border-bottom: 1px solid #cccccc;
}

h3.footer-slider-title {
    font-size: 24px;
    margin-top: 30px;
    color: #2e7d32;
    overflow: hidden;
    position: relative;
}

h3.footer-slider-title:after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: #cccccc;
    top: 15px;
    left: 250px;
}

@media (max-width: 767px) {
    h3.footer-slider-title {
        text-align: center;
        overflow: visible;
    }

    h3.footer-slider-title::after {
        top: unset;
        bottom: -5px;
        left: 0;
    }
}

/*FOOTER*/
footer {
    background-color: #4d4d4d;
    padding-top: 25px;
    color: #ffffff;
    margin-top: 50px;
}

footer h6 {
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

footer ul.menu {
    padding: 0;
    list-style: none;
}

footer ul.menu a {
    color: #ffffff;
    font-size: 15px;
}

footer p.copyright {
    color: #ffffff;
    font-size: 12px;
}

h3.footer-title-contact {
    color: #2e7d32;
    position: relative;
    margin-bottom: 30px;
    float: left;
    font-size: 20px;
}

h3.footer-title-contact:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 83px;
    height: 2px;
    background-color: #ff5722;
}

ul.address-footer {
    list-style: none;
    padding: 0;
}

ul.address-footer li,
ul.address-footer li a {
    color: #6c6c6c;
    text-decoration: none;
}

ul.address-footer li a:hover {
    color: #2e7d32;
}

ul.address-footer li {
    padding-left: 20px;
    position: relative;
    margin-bottom: 10px;
}

ul.address-footer li i {
    position: absolute;
    left: 0;
    top: 5px;
    color: #2e7d32;
}

.footer-contact-form .wpcf7-form .col-md-4,
.footer-contact-form .wpcf7-form .col-md-12 {
    padding-right: 0;
}

.footer-contact-form .wpcf7-form {
    padding: 0 15px;
}

@media (max-width: 991px) {
    .footer-contact-form {
        margin-top: 50px;
    }
}

@media (max-width: 767px) {
    ul.address-footer li i { position: unset; }
    ul.address-footer { text-align: center; }
    h3.footer-title-contact {
        float: unset;
        width: 100%;
        text-align: center;
    }
    h3.footer-title-contact::after {
        display: none;
    }
}

.wpcf7-select,
.wpcf7-form input {
    background-color: #f6f6f6;
    color: #969696;
    font-size: 16px;
    width: 100%;
    box-shadow: 0 3px 0 0 #e7e7e7;
    border-radius: 4px;
    border: none;
    padding: 7px 21px;
    margin-bottom: 10px;
    max-width: 100%;
}

.wpcf7-select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.wpcf7-select::-ms-expand {
    display: none;
}

.wpcf7-form-control-wrap.menu-235:after {
    content: '\f078';
    font-family: "Font Awesome 5 Pro";
    color: #bdbdbd;
    font-size: 12px;
    position: absolute;
    right: 20px;
    top: -10px;
    line-height: 43px;
}

.wpcf7-form textarea {
    background-color: #f6f6f6;
    color: #969696;
    font-size: 16px;
    height: 150px;
    width: 100%;
    box-shadow: 0 3px 0 0 #e7e7e7;
    border-radius: 4px;
    border: none;
    padding: 7px 21px;
}

.wpcf7-form-control.wpcf7-submit {
    float: right;
    width: unset;
    color: #2e7d32;
    padding: 13px 28px 14px;
    border: 2px solid #2e7d32;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    border-radius: 40px;
    text-transform: uppercase;
    background-color: transparent;
    line-height: 1;
    margin-top: 11px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.wpcf7-form-control.wpcf7-submit:hover {
    color: #ffffff;
    background-color: #2e7d32;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
    border-color: red;
    margin-top: 45px;
}

#to-top {
    bottom: 20px;
    color: #fff;
    font-size: 24px;
    height: 45px;
    line-height: 45px;
    position: fixed;
    right: 10px;
    text-align: center;
    width: 45px;
    z-index: 9999;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #2e7d32;
    visibility: hidden;
    opacity: 0;
}

#to-top.show {
    visibility: visible;
    opacity: 1;   
}